.wrap {
    width: 100%;
    height: 700px;
    background-image: url("../../Images/bg-svg-f.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
    display: flex;
    padding-top: 160px;
    padding-left: 100px;
    padding-bottom: 50px;
    
    
    @media (max-width: 768px) {
        padding-top: 170px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
    }
}

.resetByEmail {
    padding-top: 60px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
    width: 500px;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    margin-right: 20px;

    @media (max-width: 768px) {
        width: 400px;
        margin-right: 40px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
    
.resetByEmail input {
    width: 90%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
    
.resetByEmail button {
    width: 94%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    background: #516cf0;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.resetByEmail button:hover {
    background-color: #fe8402;
}

    
.resetByEmail a {
        cursor: pointer;
        color: #ffb953;
        text-decoration: none;
}

.resetByEmail a:hover {
    text-decoration: underline;
}

.descriptionStyle {
    width: 500px;
    margin-left: 10px;
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);

    @media (max-width: 768px) {
        margin-bottom: 730px;
        padding-top: 20px;
        width: 450px;
        margin-left: 0px;
        margin-right: 40px;
    }
}

.about {
    color: #fe8402;
}
    
.descriptionStyle button {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    background: #fe8402;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}